<div class="greets">
     <h1>Greeted</h1>

        <table>
            <tr>
            <th>usernames</th>
            <th>times</th>
            <th>message</th>
            
            </tr>
            {{#each Counter}}
            <tr>
            <td>{{username}}</td>
            <td>{{count}}</td>
            <td>{{message}}</td>
            </tr>

            {{/each}}
        </table>
</div>
 